/**
*   © olback 2017
*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    background-image: url('train-tracks-to-the-horizon-landscape.jpg');
    background-size: cover;
    text-align: center;
    color: #333;
}

#time {
    margin-top: 15%;
    font-weight: lighter;
    font-size: 64pt;
}

#search {
    width: 40%;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 20pt;
    color: #333;
    padding: 10px;
}

#search:focus {
    border-bottom: 1px solid #777;
}

#search::placeholder {
    font-style: italic;
}

#search-icon {
    font-size: 20pt !important;
    margin-left: -35pt;
    padding: 13px;
}

#search-icon:hover {
    cursor: pointer;
}
